{% extends './base.html' %}

{% block body %}

    <section class="hero">
        <div class="hero-content">
            <h1>¡Hola! Soy Luis Rodríguez</h1>
            <p>Desarrollador web apasionado por el diseño moderno y funcional.</p>
            <a href="http://127.0.0.1:5000/portafolio" class="btn">Ver mi trabajo</a>
            <div class="social-media">
                <a href="https://www.tiktok.com/@soyteo_03?_t=8oyrxEgnxET&_r=1" target="_blank">
                    <img src="/static/images/tik-tok.png" alt="TikTok">
                </a>
                <a href="https://www.instagram.com/iamluismateo?igsh=MWt3ejA0b2o5dnhlYg==" target="_blank">
                    <img src="/static/images/instagram.png" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/profile.php?id=100068336071907&mibextid=ZbWKwL" target="_blank">
                    <img src="/static/images/facebook.png" alt="Facebook">
                </a>
                <a href="https://x.com/Luismateo05?t=LQZxkvs0kQIP8B2uhOoHYw&s=09" target="_blank">
                    <img src="/static/images/twitter.png" alt="X">
                </a>
            </div>
        </div>
        <img src="/static/images/desarrollo.jpg" alt="Imagen de fondo" class="hero-image">

    
    </section>
    <footer>
        <center>
        <p>&copy; 2024 Luis Rodríguez. </p></center>
    </footer>

    {% endblock %}


