{% extends './base.html' %}

{% block body %}

    <section class="about">
        <div class="about-content">
            <h1>Sobre mí</h1>
            <img src="/static/images/luis.jpg" alt="Luis Rodríguez" class="about-image">
            <p>Soy un desarrollador web con experiencia en la creación de sitios atractivos y funcionales. </p>
                
                <p> Me encanta trabajar con HTML, CSS, y JavaScript para crear experiencias de usuario únicas.</p>
        </div>
    </section>

    <footer>
        <center>
        <p>&copy; 2024 Luis Rodríguez.</p></center>
    </footer>


    
    {% endblock %}

  
